In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../Dataset/Boston.csv')
df.head(3)

,Unnamed: 0,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,1,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,2,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,3,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7

In [3]:
df.shape

(506, 15)

In [4]:
input_data = df.iloc[:, :-1]
output_data = df['medv']

In [5]:
from sklearn.model_selection import train_test_split

In [6]:
x_train, x_test, y_train, y_test = train_test_split(input_data, output_data,test_size=0.25)

In [7]:
# I think i don't need to say anything
print('x_train =', x_train.shape)
print('x_test =', x_test.shape)
print((len(x_train) + len(x_test)) == len(df['medv']))

x_train = (379, 14)
x_test = (127, 14)
True

When someone gives us data and asks us to make a prediction, the type of outcome determines whether we should use regression analysis or classification analysis.

If the outcome variable is continuous in nature (for example, it consists of numerical values such as natural numbers, decimals, or real values), then we use regression analysis.

If the outcome variable is categorical in nature (for example, it represents labels or classes such as “Yes/No,” “Male/Female,” or “Low/Medium/High”), then we use classification analysis.